<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
	default-lazy-init="false">
	
	<context:property-placeholder location="classpath:env.properties"/>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.showsql}</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="jdbc.fetch_size">50</prop>
				<prop key="jdbc.batch_size">125</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.query.substitutions">true 1,false 0</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/entity/Connect.hbm.xml</value>
				<value>com/entity/LogRecord.hbm.xml</value>
				<value>com/entity/ConnectType.hbm.xml</value>
				<value>com/entity/Positions.hbm.xml</value>
				<value>com/entity/Departments.hbm.xml</value>
				<value>com/entity/Users.hbm.xml</value>
				<value>com/entity/Task.hbm.xml</value>
				<value>com/entity/SourceTable.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- druid连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${datasource.url}" />
		<property name="username" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />

		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="1" />
		<property name="minIdle" value="1" />
		<property name="maxActive" value="20" />

		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="60000" />

		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />

		<!-- 配置监控统计拦截的filters，去掉后监控界面sql无法统计 -->
		<property name="filters" value="stat" />
	</bean>


	<bean class="org.springframework.orm.hibernate3.HibernateTransactionManager" id="transactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 声明式事务 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="add" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="do*" propagation="REQUIRED" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut expression="execution(* com.service.impl.*.*(..))" id="serviceMethod"  />
		<aop:advisor advice-ref="txAdvice"  pointcut-ref="serviceMethod" />
	</aop:config>
	<!--******** dao ********* -->
	
	<bean class="com.dao.impl.UsersDaoImpl" id="usersDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="com.dao.impl.DepartmentsDaoImpl" id="departmentsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="com.dao.impl.PositionsDaoImpl" id="positionsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="com.dao.impl.MongoDaoImpl" id="mongoDaoImpl" />
	<bean class="com.dao.impl.ConnectDaoImpl" id="connectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="com.dao.impl.LogRecordDaoImpl" id="logRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="com.dao.impl.ConnectTypeDaoImpl" id="connectTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean class="com.dao.impl.TaskDaoImpl" id="taskDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean class="com.dao.impl.SourceTableDaoImpl" id="sourceTableDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	

	<!--******** sevice ********* -->

	<bean class="com.service.impl.UsersServiceImpl" id="usersServiceImpl">
		<property name="userDaoImpl" ref="usersDaoImpl" />
	</bean>
	<bean class="com.service.impl.DepartmentsServiceImpl" id="departmentsServiceImpl">
		<property name="departmentsDaoImpl" ref="departmentsDaoImpl" />
	</bean>
	<bean class="com.service.impl.PositionsServiceImpl" id="positionsServiceImpl">
		<property name="positionsDaoImpl" ref="positionsDaoImpl" />
	</bean>
	<bean class="com.service.impl.MongoServiceImpl" id="mongoServiceImpl">
		<property name="mongoDaoImpl" ref="mongoDaoImpl" />
	</bean>
	<bean class="com.service.impl.ConnectServiceImpl" id="connectServiceImpl">
		<property name="connectDaoImpl" ref="connectDaoImpl"></property>
	</bean>
	<bean class="com.service.impl.LogRecordServiceImpl" id="logRecordServiceImpl">
		<property name="logRecordDaoImpl" ref="logRecordDaoImpl"></property>
	</bean>
	<bean class="com.service.impl.ConnectTypeServiceImpl" id="connectTypeServiceImpl">
		<property name="connectTypeDaoImpl" ref="connectTypeDaoImpl"></property>
	</bean>
	<bean class="com.service.impl.TaskServiceImpl" id="taskServiceImpl">
		<property name="taskDaoImpl" ref="taskDaoImpl"/>
		<property name="sourceTableDaoImpl" ref="sourceTableDaoImpl"/>
		<property name="connectDaoImpl" ref="connectDaoImpl"/>
	</bean>

	<!--******** action ********* -->

	<bean class="com.action.UsersAction" scope="prototype">
		<property name="departmentsServiceImpl" ref="departmentsServiceImpl"></property>
		<property name="positionsServiceImpl" ref="positionsServiceImpl"></property>
		<property name="usersServiceImpl" ref="usersServiceImpl"></property>
	</bean>
	<bean class="com.action.PositionsAction" scope="prototype">
		<property name="positionsServiceImpl" ref="positionsServiceImpl"></property>
	</bean>
	<bean class="com.action.DepartmentsAction" scope="prototype">
		<property name="departmentsServiceImpl" ref="departmentsServiceImpl"></property>
	</bean>
	<bean class="com.action.MongoAction" scope="prototype">
		<property name="connectTypeServiceImpl" ref="connectTypeServiceImpl"></property>
		<property name="mongoServiceImpl" ref="mongoServiceImpl"></property>
		<property name="connectServiceImpl" ref="connectServiceImpl"></property>
		<property name="logRecordServiceImpl" ref="logRecordServiceImpl"></property>
	</bean>
	<bean class="com.action.ConnectAction" scope="prototype">
		<property name="connectTypeServiceImpl" ref="connectTypeServiceImpl"></property>
		<property name="connectServiceImpl" ref="connectServiceImpl"></property>
	</bean>
	<bean class="com.action.LogRecordAction" scope="prototype">
		<property name="logRecordServiceImpl" ref="logRecordServiceImpl"></property>
		<property name="connectServiceImpl" ref="connectServiceImpl"></property>
		<property name="mongoServiceImpl" ref="mongoServiceImpl"></property>
	</bean>
	<bean class="com.action.mongoSyncAction" scope="prototype">
		<property name="logRecordServiceImpl" ref="logRecordServiceImpl"></property>
		<property name="connectServiceImpl" ref="connectServiceImpl"></property>
		<property name="mongoServiceImpl" ref="mongoServiceImpl"></property>
	</bean>
	<bean class="com.action.ConnectTypeAction" scope="prototype">
		<property name="connectTypeServiceImpl" ref="connectTypeServiceImpl"></property>
	</bean>
	<bean class="com.action.TaskAction" scope="prototype">
		<property name="taskServiceImpl" ref="taskServiceImpl"/>
		<property name="connectServiceImpl" ref="connectServiceImpl"/>
		<property name="mongoServiceImpl" ref="mongoServiceImpl"/>
		<property name="logRecordServiceImpl" ref="logRecordServiceImpl"/>
	</bean>


	
    
</beans>
	